.centerText {
    text-align: center;
}

.centerContainer{
    text-align: center;
}

.centerTextInLink{
    margin: 10px 0;
    padding: 30px;
}

.noResize{
    resize: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.centerBox{
    display: flex;
    justify-content: center;
    height: 10vh;
}

.inputStyle{
    width: 300px; 
    height: 20px; 
    font-size: 18px; 
    resize: none;

}