<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>LAB 2 - WAD</h1>
<!-- List of Links -->
<ul>
    <li><a th:href="@{'/products'}">View all products</a></li>
    <li><a th:href="@{'/products/new'}">Add new product</a></li>
    <li><a th:href="@{'/products/form'}">Find a product</a></li>
    <li><a th:href="@{'/users'}">View all users</a></li>
    <li><a th:href="@{'/users/new'}">Add new user</a></li>
</ul>
</body>
</html>
